core.Microsoft*
core.mongo*
core.python*
env.py
__pycache__/
*.py[cod]
node_modules/
.github/
cloudinary_python.txt
kaggle.json

# Virtual environment
.venv
.env

# Visual Studio Code
.vscode/

# Dataset
inputs/cherry_leaves_dataset/

# Models
models/*

!models/v1/cherry_cnn.h5
!models/v1/label_map.json